# Informações de Contato (Não é necessário, mas você pode usar)
NEXT_PUBLIC_PHONE=45999409316
NEXT_PUBLIC_LOCATION=Foz do Iguaçu
NEXT_PUBLIC_WHATSAPP=55999409316

# Para Google Maps (opcional)
# NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=sua_chave_aqui
